{% extends 'base.html' %}

{% block title %}
New Tag
{% endblock %}

{% block body %}
<div class="row">
    <form method="post" class="col col-10">
        <h1>Create a tag</h1>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" name="name" id="name"
            placeholder="Enter a name for the tag" required>
        </div>
        <a href="/tags" class="btn btn-outline-primary"> Cancel </a>
        <input type="submit" class="btn btn-success" value="Add">
    </form>
</div>
{% endblock %}