{% extends 'base.html' %}

{% block title %}
{{user.full_name}}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-4">
        <img src="{{user.image_url}}" class="img-fluid img-thumbnail float-left" alt="Profile Picture">
    </div>
    <div class="col-4">
        <h1>{{user.full_name}}</h1>
        <a href="/users/{{user.id}}/edit" class="btn btn-primary"> Edit </a>
        <form action="/users/{{user.id}}/delete" style="display:inline;" method="post">
            <input type="submit" class="btn btn-danger" value="Delete">
        </form>
        <br>
        <br>
        <h2>Posts</h2>
        {% if user.posts %}
        <ul>
            {% for post in user.posts %}
            <li>
                <a href="/posts/{{post.id}}">{{post.title}}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>
    </div>
</div>
{% endblock %}